<!DOCTYPE html>
<html lang="en" ng-app="newsApp">
<head>
    <meta charset="UTF-8">
    <title>News Line Application Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.min.js"></script>

    <script src="app/app.module.js"></script>
    <script src="app/app.config.js"></script>
    <!-- tags-->
    <script src="app/components/tag/tag.module.js"></script>
    <script src="app/components/tag/tag.controller.js"></script>
    <script src="app/components/tag/tag.service.js"></script>
    <!-- authors-->
    <script src="app/components/author/author.module.js"></script>
    <script src="app/components/author/author.controller.js"></script>
    <script src="app/components/author/author.service.js"></script>

</head>
<body>

    <li><a href="#/tags">All tags</a></li>
    <li><a href="#/authors">All authors</a></li>

    {{"Hello, angular!"}} <br/>
    -------------------------------------->

    <div ng-view> </div>




</body>
</html>