<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div> List of Authors</div>

    <div ng-controller="authorController as ctrl">
        <table>
            <tr ng-repeat="author in ctrl.authors">
                <td>Author:</td>
                <td>
                    <input type="text" ng-model="author.authorName" ng-disabled="!ctrl.allow(author.authorId)">
                </td><td>
                    <button ng-click="ctrl.edit(author)" ng-hide="ctrl.allow(author.authorId)">edit</button>
                    <button ng-click="ctrl.updateAuthor(author)" ng-if="ctrl.allow(author.authorId)">update</button>
                    <button ng-click="ctrl.expireAuthor(author)" ng-if="ctrl.allow(author.authorId)">expire</button>
                    <button ng-click="ctrl.cancel()" ng-if="ctrl.allow(author.authorId)">cancel</button>
                </td>
            </tr>
        </table>

        <form ng-submit="ctrl.createAuthor(ctrl.author)">
            Add author:
            <input type="text" ng-model="ctrl.author.authorName">    <!-- set name to the controller's  property "self.author"-->
            <input type="submit" value="add">
        </form>

    </div>
</body>
</html>