/* author */
.dropdown-check-list2 {
    position: absolute;
    background: white;
    display: inline-block;
}

.dropdown-check-list2 .anchor2 {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 2px 60px 2px 10px;
    border: 1px solid grey;
    float: left;
    display: inline-block;
    border-radius: 2px;
    border-width: 1px;
}

.dropdown-check-list2 .anchor2:after {
    position: absolute;
    content: "";
    border-left: 1px solid black;
    border-top: 1px solid black;
    padding: 2px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.dropdown-check-list2 ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
}

.dropdown-check-list2 ul.items li {
    list-style: none;
}

.dropdown-check-list2.visible .items {
    display: block;
}

.items li span {
    display: block;
}
/* tag */


.dropdown-check-list {
    position: absolute;
    background: white;
    display: inline-block;
    margin-left: 200px;
}

.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 2px 60px 2px 10px;
    border: 1px solid grey;
    float: left;
    display: inline-block;
    border-radius: 2px;
    border-width: 1px;
}
.dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 1px solid black;
    border-top: 1px solid black;
    padding: 2px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
}

.dropdown-check-list ul.items li {
    list-style: none;
}

.dropdown-check-list.visible .items {
    display: block;
}

.items li span {
    display: block;
}


