
body{ margin:0px; }
#header{
    position:absolute;
    color: #000;
    background: transparent -moz-linear-gradient(#FFFC00 0px, #FCDF00 100%);
    width: 100%;
    height:100px;
}

#body, .body-login {    /*inheritance*/
    position:relative;
    width:100% ;
    background:#F5F8F2;
    min-height:calc(100% - 180px);
    top:70px;
    display:inline-block;
}
/*----------news title -------------*/
.language-selector{
    position:absolute;
    right:30px;
    top:45px;
}

.portal-title {
    position:absolute;
    font-size: 22pt;
    left:30px;
    top:20px;
}

.hello {
    position:absolute;
    right:150px;
    top:15px;
}

.btn-logout {
    position:absolute;
    right:30px;
    top:15px;
}
/*-----------------------------*/
.body-login{
    width:100%;
    left:0;
}


#footer{
    position:relative;
    bottom:-130px;
    display:inline-block;
    color: #fff;
    background: #565A5E;
    text-align: center;
    line-height:50px;
    width: 100%;
    height:50px;
}
/*tag*/
.tagLine {
    display: block;
    height:40px;
}

.btn-group-edit {
    display: inline-block;
    height:21px;
}

.tag-text-line {
    display: inline-block;
    width: 300px;
}

.tag-tag {
    display: inline-block;
    width: 120px;
    text-align: center
}
/*author*/
.authorLine {
    display: block;
    height:40px;
}
.author-author {
    display: inline-block;
    width: 120px;
    text-align: center
}
.btn-author-edit {
    display: inline-block;
    height:21px;
}
.author-text-line {
    display: inline-block;
    width: 300px;
}

.button-pages {
    float: left;
    padding: 5px;
    margin-left:4px
}

/*news list*/
.title {
    font-weight: bold;
    margin-left: 20px;
    font-size: 18pt;
}

.newsLine {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info-line {
    margin: 10px;
    text-align: right;
    font-size: 10pt;
}

/*--------------comment--------------------------*/

.comment{
    max-width: 70%;
    margin-left: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #00cccc;
    padding: 10px;
    margin: 5px;
    margin-bottom: 8px;
}

.prev {
    display: inline-block;
    float: left;
    margin-left: 15px;
}
.next {
    display: inline-block;
    float: right;
    margin-right: 15px;
}

.login {

    position:relative;
    left:calc(50% - 125px);
    height:calc(50% - 125px);


}

.login form {
    position:relative;
    top:170px;

}

.search-criteria {
    display: inline-block;
}

/* add news*/
.field {
    display: block;
    margin: 10px 10px 10px 20px;
}

.field-name {
    display: inline-block;
    min-width: 100px;
    vertical-align: top;
}

.field-value {
    display: inline-block;
    width: 400px;
}

/*pagination*/
.pagin {
    position:absolute;
    bottom: -40px;
    width: 100%;
    text-align: center;
}

.hidden-error {
    display: none;
}

.activePage {
    color:red;
}

.visible-error {
    display:inline-block;
    color:red;

}
.color-error {
    border: 2px solid palevioletred;
}
