<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div> List of Tags</div>

    <div ng-controller="tagController as ctrl">
        <table>
            <tr ng-repeat="tag in ctrl.tags">
                <td>Tag:</td>
                <!--<td><span ng-bind="tag.name"></span></td>-->
                <td>
                    <input type="text" ng-model="tag.name" ng-disabled="!ctrl.allow(tag.tagId)">
                </td><td>
                    <button ng-click="ctrl.edit(tag)" ng-hide="ctrl.allow(tag.tagId)">edit</button>
                    <button ng-click="ctrl.updateTag(tag)" ng-if="ctrl.allow(tag.tagId)">update</button>
                    <button ng-click="ctrl.deleteTag(tag)" ng-if="ctrl.allow(tag.tagId)">delete</button>
                    <button ng-click="ctrl.cancel()" ng-if="ctrl.allow(tag.tagId)">cancel</button>
                </td>
            </tr>
        </table>

        <form ng-submit="ctrl.createTag(ctrl.tag)">
            Add tag:
            <input type="text" ng-model="ctrl.tag.name">    <!-- set name to the controller's  property "self.tag"-->
            <input type="submit" value="add">
        </form>

    </div>
</body>
</html>